<mat-card class="round">
  <mat-card class="round__header">
    <mat-card-title>
      <button mat-button color="primary">Round #{{round.id}}</button>
    </mat-card-title>
    <mat-card-subtitle>{{round.players.length}} players</mat-card-subtitle>
  </mat-card>

  <mat-list role="list" class="round__players">
    <mat-list-item
      class="round__player-list"
      role="listitem"
      *ngFor="let player of round.players | sortPlayers; let idx=index"
      [appPlayerStatus]="round.nextRoundCount && idx >= round.nextRoundCount"
    >
      <div class="round__player">
        <span>{{idx + 1}}</span>
        <p>{{player.name}}</p>
        <span>{{player.points}}</span>
      </div>
      <mat-divider class="round__player-divider" *ngIf="idx+1 === round.nextRoundCount"></mat-divider>
    </mat-list-item>
  </mat-list>
</mat-card>
