.progress {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress__title {
  width: 80%;
  margin-bottom: 30px;

  text-align: center;
}

.progress__round {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.progress__players-in {
  color: green;
}

.progress__players-out {
  color: red;
}
